{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/market-place-4.css' %}">

{% endblock head %}
{% block content %}
{% include 'components/_alerts.html' %}
<div class="ps-page--single" id="about-us"><img src=" {% static 'img/home-1/whiskeyabout.jpg' %}" alt="">
    <div class="ps-about-intro">
        <div class="container">
            <div class="ps-section__header">
                <h4>Welcome to Martfury</h4>
                <h3>We connect millions of buyers and sellers around the world, empowering people & creating economic
                    opportunity for all.</h3>
                <p>Within our markets, millions of people around the world connect, both online and offline, to make,
                    sell and buy unique goods. We also offer a wide range of Seller Services and tools that help
                    creative entrepreneurs start, manage and scale their businesses. Our mission is to reimagine
                    commerce in ways that build a more fulfilling and lasting world, and we’re committed to using the
                    power of business to strengthen communities and empower people.</p>
            </div>

        </div>
    </div>


</div>

{% endblock content %}