{% extends 'base.html' %}
{% load static %}
{% block title %}Admin{% endblock title %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/market-place-4.css' %}">

{% endblock head %}
{% block content %}
{% include 'components/_alerts.html' %}
<div class="ps-vendor-dashboard">
    <div class="container">

        <div class="ps-section__content">
            <ul class="ps-section__links">
                <li class="active"><a href="{% url 'pages:admin_panel' %}">Dashboard</a></li>
                <li class=""><a href="{% url 'order:deliver' %}">Delivery</a></li>
                    <br>
                    <br>
                    <ul>
                        <li {% if class_active == "active" %} class="active" {% endif %}> <a href="{% url 'pages:admin_panel' "active" %}">Active</a></li>
                        <li {% if class_active == "canceled" %} class="active" {% endif %}> <a href="{% url 'pages:admin_panel' "canceled" %}">Cancelled</a></li>
                        <li {% if class_active == "unpaid" %} class="active" {% endif %}> <a href="{% url 'pages:admin_panel' "unpaid" %}">Unpaid</a></li>
                        <li {% if class_active == "single" %} class="active" {% endif %}> <a href="{% url 'pages:admin_panel' "single" %}">Single</a></li>
                    
                    </ul>

            </ul>


            {% if class_active == "single" %}

                 <div class="ps-block--vendor-dashboard">
                    <div class="ps-block__header">
                        <h3>Single Item Report Admin</h3>
                    </div>
                    <div class="ps-block__content">
                        <form class="ps-form--vendor-datetimepicker" action="index.html" method="get">

                        </form>
                        <div class="table-responsive">

                            <table class="table ps-table ps-table--vendor">
                                <thead>
                                    <tr>
                                        <th>Created</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Qunatity</th>
                                        <th>Total</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>

                            {% for r in single %}

                                <tbody>
                                    <tr>
                                        <td>{{r.current_period_start}}</td>
                                        <td>{{r.product.product_name}}</td>
                                        <td>${{r.amount}}</td>
                                        <td>{{r.quantity}}</td>
                                        <td>${{r.total}}</td>
                                        
                                        {% if r.address == "-" and r.product.id.is_exists %}
                                            <td> <a href="{% url 'pages:single_address' r.id r.product.id r.quantity %}"> Add Address </a></td>
                                        {% else %}
                                            <td style="color:green"> Added </td>
                                        {% endif %}

                                    </tr>
                                </tbody>

                            {% endfor %}


                            </table>

                        </div>
                    </div>
                </div>  


            {% else %}

                <div class="ps-block--vendor-dashboard">
                    <div class="ps-block__header">
                        <h3>Subscription Report For Admin</h3>
                    </div>
                    <div class="ps-block__content">
                        <form class="ps-form--vendor-datetimepicker" action="index.html" method="get">

                        </form>
                        <div class="table-responsive">

                            <table class="table ps-table ps-table--vendor">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Subscription Date</th>
                                        <th>Interval</th>
                                        <th>Product</th>
                                        <th>Price x Qunatity</th>
                                        <th>Total</th>
                                        <th>Next Invoice</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                {% for r in subscription %}

                                    <tbody>
                                        {% if user.is_exists %}
                                            <tr>
                                                <td>{{r.user}}</td>
                                                <td>{{r.current_period_start}}</td>
                                                <td>{{r.interval}}</td>
                                                <td>{{r.product}}</td>
                                                <td>${{r.amount}} x {{r.quantity}}</td>
                                                <td>${{r.total}}</td>
                                                <td>{{r.current_period_end}}</td>
                                                <td>{{r.status}}</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>

                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
               

            {% endif %}
            
        </div>
    </div>
</div>
{% endblock content %}