{% extends 'base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/market-place-4.css' %}">

{% endblock head %}
{% block content %}
{% include 'components/_alerts.html' %}
<div id="homepage-1">

  <div class="ps-block--categories-box">
    <div class="ps-block__content">
      {% for i in product %}
        <div class="ps-block__item"><a class="ps-block__overlay" href="{% url 'products:single_product' i.id %}"></a>
        <img src="{{i.picture.url}}" alt="">
          <p>{{i.product_name}}</p><span>{{i.price}}£</span>
        </div>
      {% endfor %}

    </div>
  </div>

</div>

</div>
{% endblock content %}