{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/market-place-4.css' %}">

{% endblock head %}
{% block content %}
{% include 'components/_alerts.html' %}
<div id="homepage-1">
  <div class="ps-home-banner ps-home-banner--1">
    <div class="ps-container">
      <div class="ps-section__left">
        <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000"
          data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1"
          data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000"
          data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
          <div class="ps-banner bg--cover" data-background="{% static 'img/home-1/dummy.jpg'%}"><a
              class="ps-banner__overlay" href="shop-default.html"></a></div>
          <div class="ps-banner bg--cover" data-background="{% static 'img/home-1/dummy.jpg'%}"><a
              class="ps-banner__overlay" href="shop-default.html"></a></div>
          <div class="ps-banner bg--cover" data-background="{% static 'img/home-1/dummy.jpg'%}"><a
              class="ps-banner__overlay" href="shop-default.html"></a></div>
        </div>
      </div>
      <div class="ps-section__right"><a class="ps-collection" href="#"><img src="{% static 'img/home-1/dummy.jpg' %}"
            alt=""></a><a class="ps-collection" href="#"><img src="{% static 'img/home-1/dummy.jpg'%}" alt=""></a>
      </div>
    </div>
  </div>

  <div class="ps-block--categories-box">
    <div class="ps-block__header">
      <h3> <a href="{% url 'pages:category' "70cl" %}"> 70 cl bottles  </a></h3>
    </div>

    <div class="ps-block__content">
      {% for i in product_2 %}
      <div class="ps-block__item"><a class="ps-block__overlay" href="{% url 'products:single_product' i.id %}"></a><img
          src="{{i.picture.url}}" alt="">
        <p>{{i.product_name}}</p><span>{{i.price}}£</span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="ps-block--categories-box">
    <div class="ps-block__header">
      <h3> <a href="{% url 'pages:category' "5cl" %}"> 5 cl bottles  </a></h3>
    </div>

    <div class="ps-block__content">
      {% for i in product_1 %}
      <div class="ps-block__item"><a class="ps-block__overlay" href="{% url 'products:single_product' i.id %}"></a><img
          src="{{i.picture.url}}" alt="">
        <p>{{i.product_name}}</p><span>{{i.price}}£</span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

</div>
{% endblock content %}