{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/market-place-4.css' %}">

{% endblock head %}
{% block content %}
{% include 'components/_alerts.html' %}

<div class="ps-vendor-dashboard">
    <div class="container">

        <div class="ps-section__content">
            <ul class="ps-section__links">
                <li class="active"><a href="{% url 'pages:admin_panel'%}">Dashboard</a></li>
                <li><a href="#">Product</a></li>


            </ul>
        </div>

        <div class="ps-page--single " id="contact-us">
            <div class="ps-contact-form">
                <div class="ps-section__header">
                    <h4>Name: {{get_review.name}}</h4>
                    <h4>Email: {{get_review.email}}</h4>
                    <h4>Subject: {{get_review.subject}}</h4>


                    <h4>Message:</h4>
                    <p>{{get_review.message}}.</p>
                </div>


            </div>
        </div>

    </div>
</div>

{% endblock content %}