{% extends 'new_template/base.html' %}
{% block newMain %}


        <div class="container d-flex justify-content-center">
            <div class="row ">
                <br>
                <div class="row d-flex justify-content-center">
                   
                        <div id="login-form" >
                            <form class="col-12 p-2 " action="" method="POST">

                                {% csrf_token %}
                                <p class="text-center text-muted my-2">
                                    {{message}} <br>
                                    Please mention address to deliver the product 
                                </p>
                                <div class="row d-flex justify-content-center">
                                    
                                    {% for form in form %}
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="col-3 d-flex justify-content-center">
                                                {{form}}
                                            </div>
                                        </div>
                                        <p class="col-3 d-flex justify-content-center" style="color:red"> {{form.errors|striptags}} </p>
                                    {% endfor %}
                                    
                                          
                                    {% if product and quantity %}
                                        <input type="hidden" name="product" value="{{product}}"> <br>
                                        <input type="hidden" name="quantity" value="{{quantity}}"> <br>
                                    {% endif %}

                                    <a href="" class="text-center col-12"><button type="submit" class="btn-login text-center fw-bold ">Submit</button></a>
                                    
                                </div>
                            </form>
                        </div>
                        

                </div>
            </div>
        </div>


{% endblock newMain %}