{% extends 'new_template/base.html' %}
{% block newMain %}



<div class="container-fluid mt-3" id="faq">
    <div>
        <div class="bg-black  py-2 mb-3 border-radius">
            <h1 class="fw-bold text-white text-center my-auto"> 
                FAQ's
            </h1>
            <div class="mt-5 px-2 desktop-faq">
                <ul class="d-flex justify-content-around m-0">
                    <li class="nav-item">
                        <a href="">All</a>
                    </li>
                    <li>
                        <a href="">Shop & Subscription</a>
                    </li>
                    <li>
                        <a href="">Gifting</a>
                    </li>
                    <li>
                        <a href="">Shipping & Deliveries</a>
                    </li>
                    <li>
                        <a href="">Upcoming Orders</a>
                    </li>
                    <li>
                        <a href="">Packaging</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="faq-contact-us" class="bg-sky p-5 d-flex justify-content-center border-radius">
                <div class="my-auto">
                    <h1 class="fw-bold my-2 text-center">
                        Some stuff<br /> you may want<br /> to know!
                    </h1>
                    <p class="my-3 text-center">
                        Don’t see what you need? Don’t hesitate<br /> to contact us and we will get back to <br />you as quickly as possible.
                    </p>
                    <div class="text-center">
                        <a href="sign-in.html"><button class="btn-2">Contact Us</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-fluid bg-black border-radius  py-2 my-3" id="faq-for-sm">
                    <button class="border-0 bg-black text-white fw-bold text-center col-12 " type="button" data-bs-toggle="collapse" data-bs-target="#faq-sm" aria-controls="faq-sm" aria-expanded="false" aria-label="Toggle navigation">
                    Find relevance   <span><i class=" ms-2 fas fa-question-circle"></i></span></button>
                    <div class="collapse navbar-collapse" id="faq-sm">
                        <ul class="fw-bold ">
                            <li class="nav-item">
                                <a href="#">All</a>
                            </li>
                            <li>
                                <a href="">Shop & Subscription</a>
                            </li>
                            <li>
                                <a href="">Gifting</a>
                            </li>
                            <li>
                                <a href="">Shipping & Deliveries</a>
                            </li>
                            <li>
                                <a href="">Upcoming Orders</a>
                            </li>
                            <li>
                                <a href="">Packaging</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="question-wrapper mt-5 d-flex justify-content-center">
                <div class="question-area">
                    <h1 class="fw-bold mb-5">All Questions</h1>
                    <div class="my-3">
                        <h4 class="mb-3 fw-bold">
                            WHAT KIND OF WHISKY WILL I GET?
                        </h4>
                        <p class="text-muted">
                            All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very best and we never send the same one <br />twice – and why would we, when there are more than 100 malt<br /> distilleries in Scotland alone to choose from?
                        </p>
                    </div>
                    <div class="my-3">
                        <h4 class="mb-3 fw-bold">
                            WHAT KIND OF WHISKY WILL I GET?
                        </h4>
                        <p class="text-muted">
                            All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very best and we never send the same one <br />twice – and why would we, when there are more than 100 malt<br /> distilleries in Scotland alone to choose from?
                        </p>
                    </div>
                    <div class="my-3">
                        <h4 class="mb-3 fw-bold">
                            WHAT KIND OF WHISKY WILL I GET?
                        </h4>
                        <p class="text-muted">
                            All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very best and we never send the same one <br />twice – and why would we, when there are more than 100 malt<br /> distilleries in Scotland alone to choose from?
                        </p>
                    </div>
                    <div class="my-3">
                        <h4 class="mb-3 fw-bold">
                            WHAT KIND OF WHISKY WILL I GET?
                        </h4>
                        <p class="text-muted">
                            All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very best and we never send the same one <br />twice – and why would we, when there are more than 100 malt<br /> distilleries in Scotland alone to choose from?
                        </p>
                    </div>
                    <div class="my-3">
                        <h4 class="mb-3 fw-bold">
                            WHAT KIND OF WHISKY WILL I GET?
                        </h4>
                        <p class="text-muted">
                            All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very best and we never send the same one <br />twice – and why would we, when there are more than 100 malt<br /> distilleries in Scotland alone to choose from?
                        </p>
                    </div>
                    <div class="my-3">
                        <h4 class="mb-3 fw-bold">
                            WHAT KIND OF WHISKY WILL I GET?
                        </h4>
                        <p class="text-muted">
                            All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very best and we never send the same one <br />twice – and why would we, when there are more than 100 malt<br /> distilleries in Scotland alone to choose from?
                        </p>
                    </div>
                    <div class="my-3">
                        <h4 class="mb-3 fw-bold">
                            WHAT KIND OF WHISKY WILL I GET?
                        </h4>
                        <p class="text-muted">
                            All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very best and we never send the same one <br />twice – and why would we, when there are more than 100 malt<br /> distilleries in Scotland alone to choose from?
                        </p>
                    </div>
                    <div class="my-3">
                        <h4 class="mb-3 fw-bold">
                            WHAT KIND OF WHISKY WILL I GET?
                        </h4>
                        <p class="text-muted">
                            All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very best and we never send the same one <br />twice – and why would we, when there are more than 100 malt<br /> distilleries in Scotland alone to choose from?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock newMain %}
