{% extends 'new_template/base.html' %}
{% block newMain %}


<div class="container-fluid mt-3" id="faq">
    <div>
        <div class="bg-black  py-2 mb-3 border-radius">
            <h1 class="fw-bold text-white text-center my-auto">
                FAQ's
            </h1>
            <div class="mt-5 px-2 desktop-faq" id="desktop-faq-class">
                <ul class="d-flex justify-content-around m-0 menu">
                    <li>
                        <a class="showSingle active" target="6">All</a>
                    </li>
                    <li>
                        <a class="showSingle" target="1">Shop & Subscription</a>
                    </li>
                    <li>
                        <a class="showSingle" target="2">Gifting</a>
                    </li>
                    <li>
                        <a class="showSingle" target="3">Shipping & Deliveries</a>
                    </li>
                    <li>
                        <a class="showSingle" target="4">Upcoming Orders</a>
                    </li>
                    <li>
                        <a class="showSingle" target="5">Packaging</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="faq-contact-us" class="bg-sky p-5 d-flex justify-content-center border-radius">
                <div class="my-auto">
                    <h1 class="fw-bold my-2 text-center">
                        Some stuff<br /> you may want<br /> to know!
                    </h1>
                    <p class="my-3 text-center">
                        Don’t see what you need? Don’t hesitate<br /> to contact us and we will get back to <br />you as
                        quickly as possible.
                    </p>
                    <div class="text-center">
                        <a href="mailto: abc@example.com"><button class="btn-2">Contact Us</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-fluid bg-black border-radius  py-2 my-3" id="faq-for-sm">
                    <button class="border-0 bg-black text-white fw-bold text-center col-12 " type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-sm" aria-controls="faq-sm" aria-expanded="false"
                        aria-label="Toggle navigation">
                        Find relevance <span><i class=" ms-2 fas fa-question-circle"></i></span></button>
                    <div class="collapse navbar-collapse" id="faq-sm">
                        <ul class="fw-bold">
                            <li>
                                <a class="showSingle active" target="6">All</a>
                            </li>
                            <li>
                                <a class="showSingle" target="1">Shop & Subscription</a>
                            </li>
                            <li>
                                <a class="showSingle" target="2">Gifting</a>
                            </li>
                            <li>
                                <a class="showSingle" target="3">Shipping & Deliveries</a>
                            </li>
                            <li>
                                <a class="showSingle" target="4">Upcoming Orders</a>
                            </li>
                            <li>
                                <a class="showSingle" target="5">Packaging</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <section class="cnt ">
                <h1 class="fw-bold mb-5">All Questions</h1>
                <div id="div6" class="targetDiv">
                    <div class="question-area">
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                WHAT KIND OF WHISKY WILL I GET?
                            </h4>
                            <p class="text-muted">
                                All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very
                                best and we never send the same one <br />twice – and why would we, when there are more
                                than 100 malt<br /> distilleries in Scotland alone to choose from?
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                HOW DO I CANCEL MY SUBSCRIPTION?
                            </h4>
                            <p class="text-muted">
                                Sign into your Whisky Me account and click on 'Manage<br /> Subscription' to cancel your
                                membership. We’ll be sorry to<br /> see you go but you’re welcome back anytime.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                I NEED HELP - CAN I CONTACT YOU DIRECTLY?
                            </h4>
                            <p class="text-muted">
                                Whether you want to send us feedback, need help with<br /> something, or just want to
                                tell us what you think of your<br /> latest dram, you can reach us on our social
                                channels or by<br /> emailing hello@whisky-me.com. Whatever it is, we’ll get back<br />
                                to you within 48 hours.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                I'M NEW TO WHISKY: HOW DO I CHOOSE A<br /> SUBSCRIPTION?
                            </h4>
                            <p class="text-muted">
                                We’ve made the whole process of discovering new whisky as easy as<br /> possible and it
                                starts with choosing the type of<br /> whisky you want: Scotch or World. Not sure how to
                                pick<br /> between the two? <ins>We can help with that</ins>. Once you’ve chosen,<br />
                                you’ll need to sign up to either a monthly or annual<br /> subscription, we’ll send you
                                a confirmation email and that’s<br /> it: your Whisky Me adventure is underway
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                I'VE GOT AN ANNUAL SUBSCRIPTION: WILL IT<br /> AUTOMATICALLY RENEW?
                            </h4>
                            <p class="text-muted">
                                It depends. If you subscribed after 4th May 2021, when our<br /> new website went live,
                                your subscription will automatically<br /> renew (we'll send you an email before this
                                happens). If you<br /> subscribed before 4th May 2021 your subscription wont<br />
                                automatically renew and you will need to purchase a new<br /> subscription to continue
                                receiving delicious whisky. We will<br /> send you an email when your subscription is
                                close to ending<br /> and you will be able to re-subscribe using your same details<br />
                                which will ensure that your account keeps a log of all your <br />past whiskies.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                ARE THERE ANY MORE MEMBER REWARDS COMING?
                            </h4>
                            <p class="text-muted">
                                We're working on it...
                            </p>
                        </div>
                    </div>
                    <div class="question-area">
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                SOMEONE GAVE ME A GIFT CARD: WHAT DO I DO NOW?
                            </h4>
                            <p class="text-muted">
                                Follow the instructions on the gift email you’ve received<br /> and the first thing
                                we’ll ask you to do is to choose between<br /> Scotch or World Whisky for your
                                subscription. We can help<br /> you pick if you’re not certain which one’s for you.
                                Next<br /> you’ll need to choose the duration of your subscription –<br /> your gift
                                will be for a set number of months but if you want<br /> to extend it, you’ll be able to
                                do that too. And once all<br /> that’s done, we’ll send you a confirmation email – and
                                all<br /> that remains is to wait patiently for your first dram to<br /> arrive.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                I WANT TO SEND SOMEONE A GIFT CARD: WHAT DO I DO?
                            </h4>
                            <p class="text-muted">
                                From our gift card page, choose the number of months that<br /> you’d like the
                                subscription to run for, then add the<br /> subscription to your basket. Once you’ve
                                checked out and<br /> paid, we’ll send you an email that you can share with the<br />
                                lucky recipient – there’ll be a code in that email that they<br /> can quickly and
                                easily redeem. And once they’ve picked the<br /> whisky they want, they’ll start
                                receiving monthly drams<br /> through their letterbox almost immediately (so expect a
                                big<br /> thank you from them sooner rather than later).
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                MY DAD/GRAN/DOG ISN'T GREAT WITH COMPUTERS: CAN<br /> I BUY ON THEIR BEHALF?
                            </h4>
                            <p class="text-muted">
                                Yes. Choose a type of whisky for them along with the<br /> subscription duration then
                                check out using their details.<br /> The email address you provide will be where we send
                                your<br /> order confirmation and monthly shipment emails. We recommend<br /> using your
                                own email address and their physical address.<br /> (Don't feed dogs whisky).
                            </p>
                        </div>
                    </div>
                    <div class="question-area">
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                WHEN WILL MY WHISKY BE SENT?
                            </h4>
                            <p class="text-muted">
                                Scotch Single Malt and World Whisky is sent on the 8th of<br /> each month, unless the
                                8th falls on a weekend – when that<br /> happens, we ship out on the first Monday after
                                that. Once<br /> you’ve subscribed, we’ll keep you updated on the arrival of<br /> your
                                next whisky by email. The cut-off for new subscriptions<br /> is always the last day of
                                the preceding month, so if you<br /> order on the 1st, 2nd, 3rd or 4th, you’ll wait just
                                a little<br /> more than a month for your first drop.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                HOW LONG DOES IT TAKE FOR MY WHISKY TO ARRIVE?
                            </h4>
                            <p class="text-muted">
                                We ship using Royal Mail 2nd class, so the shipping time is<br /> normally 2-5 working
                                days – but delivery times vary a little<br /> depending on where you live. We’ll email
                                you a shipping <br />notification when your whisky is out for delivery: if your<br />
                                whisky hasn’t arrived and it’s been more than 7 working days<br /> since you got that
                                email, let us know.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                OK, IT'S BEEN SEVEN WORKING DAYS AFTER THE<br /> DISPATCH EMAIL AND STILL NO WHISKY.
                                WHAT NOW?
                            </h4>
                            <p class="text-muted">
                                Send your subscription details and the name of the dram<br /> you’re waiting on to
                                hello@whisky-me.com and we’ll get<br /> straight on to Royal Mail to find out what’s
                                happening. But<br /> don’t worry: even if the posties have misplaced it, we’ll<br />
                                happily pop a replacement pouch in the post for you.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                BAD NEWS: MY WHISKY TURNED UP DAMAGED
                            </h4>
                            <p class="text-muted">
                                In the really (really) rare event that your whisky arrives<br /> damaged, drop us a line
                                at hello@whisky-me.com with your <br />subscription details. If you can, send us a
                                picture of the<br /> damage – it helps speed things up if we can see what the<br />
                                damage is.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                HOW DO I UPDATE MY EMAIL OR POSTAL ADDRESS?
                            </h4>
                            <p class="text-muted">
                                Sign into your Whisky Me account and click on 'Manage <br />Subscription' to update your
                                postal or email address. If<br /> you’re moving home, remember to let us know before the
                                end<br /> of the calendar month, when we process all our deliveries –<br /> otherwise
                                your dram might end up at your old place.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                DO YOU SHIP INTERNATIONALLY?
                            </h4>
                            <p class="text-muted">
                                Not yet, but watch this space. Better yet, follow us on<br /> social and we’ll announce
                                there as soon as we do
                            </p>
                        </div>
                    </div>
                    <div class="question-area">
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                DOES THE POUCH AFFECT THE FLAVOUR?
                            </h4>
                            <p class="text-muted">
                                Absolutely not. We have tested our pouches up to the three<br /> years (why you would
                                keep whisky that long is beyond us...)<br /> and found it to be as fresh as the day it
                                was bottled.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                CAN I RECYCLE THE POUCH AT HOME?
                            </h4>
                            <p class="text-muted">
                                Chances are your local authority wont collect your pouches<br /> (yet) but there are a
                                growing number of recycling services<br /> where you can drop them off, and these tend
                                to be located at<br /> supermarkets, schools and nurseries. If all else fails,<br />
                                remember you can send them back to us for free whisky.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                CAN I SEND BACK THE OLD STYLE POUCHES?
                            </h4>
                            <p class="text-muted">
                                Of course! We've still got love for our old pouches, and<br /> whilst we won't be
                                refilling old pouches that you send back,<br /> we will make sure they get sent for
                                recycling.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="div1" class="targetDiv">
                    <div class="question-area">
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                WHAT KIND OF WHISKY WILL I GET?
                            </h4>
                            <p class="text-muted">
                                All our pouches are filled with Single Malt or World Whisky.<br /> We only pick the very
                                best and we never send the same one <br />twice – and why would we, when there are more
                                than 100 malt<br /> distilleries in Scotland alone to choose from?
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                HOW DO I CANCEL MY SUBSCRIPTION?
                            </h4>
                            <p class="text-muted">
                                Sign into your Whisky Me account and click on 'Manage<br /> Subscription' to cancel your
                                membership. We’ll be sorry to<br /> see you go but you’re welcome back anytime.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                I NEED HELP - CAN I CONTACT YOU DIRECTLY?
                            </h4>
                            <p class="text-muted">
                                Whether you want to send us feedback, need help with<br /> something, or just want to
                                tell us what you think of your<br /> latest dram, you can reach us on our social
                                channels or by<br /> emailing hello@whisky-me.com. Whatever it is, we’ll get back<br />
                                to you within 48 hours.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                I'M NEW TO WHISKY: HOW DO I CHOOSE A<br /> SUBSCRIPTION?
                            </h4>
                            <p class="text-muted">
                                We’ve made the whole process of discovering new whisky as easy as<br /> possible and it
                                starts with choosing the type of<br /> whisky you want: Scotch or World. Not sure how to
                                pick<br /> between the two? <ins>We can help with that</ins>. Once you’ve chosen,<br />
                                you’ll need to sign up to either a monthly or annual<br /> subscription, we’ll send you
                                a confirmation email and that’s<br /> it: your Whisky Me adventure is underway
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                I'VE GOT AN ANNUAL SUBSCRIPTION: WILL IT<br /> AUTOMATICALLY RENEW?
                            </h4>
                            <p class="text-muted">
                                It depends. If you subscribed after 4th May 2021, when our<br /> new website went live,
                                your subscription will automatically<br /> renew (we'll send you an email before this
                                happens). If you<br /> subscribed before 4th May 2021 your subscription wont<br />
                                automatically renew and you will need to purchase a new<br /> subscription to continue
                                receiving delicious whisky. We will<br /> send you an email when your subscription is
                                close to ending<br /> and you will be able to re-subscribe using your same details<br />
                                which will ensure that your account keeps a log of all your <br />past whiskies.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                ARE THERE ANY MORE MEMBER REWARDS COMING?
                            </h4>
                            <p class="text-muted">
                                We're working on it...
                            </p>
                        </div>
                    </div>
                </div>
                <div id="div2" class="targetDiv">
                    <div class="question-area">
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                SOMEONE GAVE ME A GIFT CARD: WHAT DO I DO NOW?
                            </h4>
                            <p class="text-muted">
                                Follow the instructions on the gift email you’ve received<br /> and the first thing
                                we’ll ask you to do is to choose between<br /> Scotch or World Whisky for your
                                subscription. We can help<br /> you pick if you’re not certain which one’s for you.
                                Next<br /> you’ll need to choose the duration of your subscription –<br /> your gift
                                will be for a set number of months but if you want<br /> to extend it, you’ll be able to
                                do that too. And once all<br /> that’s done, we’ll send you a confirmation email – and
                                all<br /> that remains is to wait patiently for your first dram to<br /> arrive.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                I WANT TO SEND SOMEONE A GIFT CARD: WHAT DO I DO?
                            </h4>
                            <p class="text-muted">
                                From our gift card page, choose the number of months that<br /> you’d like the
                                subscription to run for, then add the<br /> subscription to your basket. Once you’ve
                                checked out and<br /> paid, we’ll send you an email that you can share with the<br />
                                lucky recipient – there’ll be a code in that email that they<br /> can quickly and
                                easily redeem. And once they’ve picked the<br /> whisky they want, they’ll start
                                receiving monthly drams<br /> through their letterbox almost immediately (so expect a
                                big<br /> thank you from them sooner rather than later).
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                MY DAD/GRAN/DOG ISN'T GREAT WITH COMPUTERS: CAN<br /> I BUY ON THEIR BEHALF?
                            </h4>
                            <p class="text-muted">
                                Yes. Choose a type of whisky for them along with the<br /> subscription duration then
                                check out using their details.<br /> The email address you provide will be where we send
                                your<br /> order confirmation and monthly shipment emails. We recommend<br /> using your
                                own email address and their physical address.<br /> (Don't feed dogs whisky).
                            </p>
                        </div>
                    </div>
                </div>
                <div id="div3" class="targetDiv">
                    <div class="question-area">
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                WHEN WILL MY WHISKY BE SENT?
                            </h4>
                            <p class="text-muted">
                                Scotch Single Malt and World Whisky is sent on the 8th of<br /> each month, unless the
                                8th falls on a weekend – when that<br /> happens, we ship out on the first Monday after
                                that. Once<br /> you’ve subscribed, we’ll keep you updated on the arrival of<br /> your
                                next whisky by email. The cut-off for new subscriptions<br /> is always the last day of
                                the preceding month, so if you<br /> order on the 1st, 2nd, 3rd or 4th, you’ll wait just
                                a little<br /> more than a month for your first drop.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                HOW LONG DOES IT TAKE FOR MY WHISKY TO ARRIVE?
                            </h4>
                            <p class="text-muted">
                                We ship using Royal Mail 2nd class, so the shipping time is<br /> normally 2-5 working
                                days – but delivery times vary a little<br /> depending on where you live. We’ll email
                                you a shipping <br />notification when your whisky is out for delivery: if your<br />
                                whisky hasn’t arrived and it’s been more than 7 working days<br /> since you got that
                                email, let us know.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                OK, IT'S BEEN SEVEN WORKING DAYS AFTER THE<br /> DISPATCH EMAIL AND STILL NO WHISKY.
                                WHAT NOW?
                            </h4>
                            <p class="text-muted">
                                Send your subscription details and the name of the dram<br /> you’re waiting on to
                                hello@whisky-me.com and we’ll get<br /> straight on to Royal Mail to find out what’s
                                happening. But<br /> don’t worry: even if the posties have misplaced it, we’ll<br />
                                happily pop a replacement pouch in the post for you.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                BAD NEWS: MY WHISKY TURNED UP DAMAGED
                            </h4>
                            <p class="text-muted">
                                In the really (really) rare event that your whisky arrives<br /> damaged, drop us a line
                                at hello@whisky-me.com with your <br />subscription details. If you can, send us a
                                picture of the<br /> damage – it helps speed things up if we can see what the<br />
                                damage is.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                HOW DO I UPDATE MY EMAIL OR POSTAL ADDRESS?
                            </h4>
                            <p class="text-muted">
                                Sign into your Whisky Me account and click on 'Manage <br />Subscription' to update your
                                postal or email address. If<br /> you’re moving home, remember to let us know before the
                                end<br /> of the calendar month, when we process all our deliveries –<br /> otherwise
                                your dram might end up at your old place.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                DO YOU SHIP INTERNATIONALLY?
                            </h4>
                            <p class="text-muted">
                                Not yet, but watch this space. Better yet, follow us on<br /> social and we’ll announce
                                there as soon as we do
                            </p>
                        </div>
                    </div>
                </div>
                <div id="div4" class="targetDiv">
                    <p class="text-muted">
                        Coming soon :)
                    </p>
                </div>
                <div id="div5" class="targetDiv">
                    <div class="question-area">
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                DOES THE POUCH AFFECT THE FLAVOUR?
                            </h4>
                            <p class="text-muted">
                                Absolutely not. We have tested our pouches up to the three<br /> years (why you would
                                keep whisky that long is beyond us...)<br /> and found it to be as fresh as the day it
                                was bottled.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                CAN I RECYCLE THE POUCH AT HOME?
                            </h4>
                            <p class="text-muted">
                                Chances are your local authority wont collect your pouches<br /> (yet) but there are a
                                growing number of recycling services<br /> where you can drop them off, and these tend
                                to be located at<br /> supermarkets, schools and nurseries. If all else fails,<br />
                                remember you can send them back to us for free whisky.
                            </p>
                        </div>
                        <div class="my-3">
                            <h4 class="mb-3 fw-bold">
                                CAN I SEND BACK THE OLD STYLE POUCHES?
                            </h4>
                            <p class="text-muted">
                                Of course! We've still got love for our old pouches, and<br /> whilst we won't be
                                refilling old pouches that you send back,<br /> we will make sure they get sent for
                                recycling.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".targetDiv").show();
    });


    jQuery(function () {
        jQuery('#showall').click(function () {
            jQuery('.targetDiv').show('.cnt');
        });
        jQuery('#hideall').click(function () {
            jQuery('.targetDiv').hide('.cnt');
        });

        jQuery('.showSingle').click(function () {
            jQuery('.targetDiv').hide('.cnt');
            jQuery('#div' + $(this).attr('target')).slideToggle();

        });
    });
</script>
<script type="text/javascript">
    var selector = '.desktop-faq ul li a';

    $(selector).on('click', function () {
        $(selector).removeClass('active');
        $(this).addClass('active');
    });
</script>

{% endblock newMain %}