{% load static %}
<footer>
    <div class="container-fluid bg-black py-5">
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="col-12 col-md-6 mt-3">
                    <h1 class="fw-bold text-white my-2">Start your adventure</h1>
                </div>
                <div class="col-12 col-md-6 my-3">
                    <div class="d-flex justify-content-around mt-3">
                        <div>
                            {% if not user.is_authenticated %}
                                <a href="{% url 'register' %}"><button class="btn-1 fw-bold">JOIN CLUB</button></a>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url 'pages:shop' %}"><button class="btn-1 fw-bold">SHOP</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-black">
        <div class="container footer mb-3">
            <h1 class="fw-bold text-white mb-3">
                A WHISKY CLUB FOR THE CURIOUS
            </h1>
        </div>
        <div>
            <div id="footer-items" class="row">
                <div class="col-6 col-md-2">
                    <ul>
                        <li><a href="#" class="text-white fw-bold">ABOUT THE CLUB</a></li>
                        <li><a href="#" class="text-white fw-bold">SUBSCRIBE</a></li>
                        <li><a href="#" class="text-white fw-bold">RECYCLE</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <ul>
                        <li><a href="#" class="text-white fw-bold">MY ACCOUNT</a></li>
                        <li><a href="#" class="text-white fw-bold">FAQ / CONTACT</a></li>
                        <li><a href="#" class="text-white fw-bold">REFER A FRIEND</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <ul>
                        <li><a href="#" class="text-white fw-bold">TERMS</a></li>
                        <li><a href="#" class="text-white fw-bold">COOKIES & PRIVACY</a></li>
                        <li><a href="#" class="text-white fw-bold">SHIPPING & REFUNDS</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <ul>
                        <li><a href="#" class="text-white fw-bold">INSTAGRAM</a></li>
                        <li><a href="#" class="text-white fw-bold">FACEBOOK</a></li>
                        <li><a href="#" class="text-white fw-bold">TWITTER</a></li>
                        <li><a href="#" class="text-white fw-bold">YOUTUBE</a></li>
                    </ul>
                </div>
                <div class="d-flex fw-bold text-white justify-content-end">
                    © 2021 WHISKYME
                </div>
            </div>
        </div>
    </div>
</footer>