{% extends 'new_template/base.html' %}
{% load static %}
{% block newMain %}

<section id="home" class="bg-black p-5">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="home-carusal owl-carousel">
                <div><img src="{% static 'new_static/assets/imgs/home-1.jpg' %}" class="img-fluid home-img"></div>
                <div><img src="{% static 'new_static/assets/imgs/home-2.jpg' %}" class="img-fluid home-img"></div>
                
            </div>
        </div>
        <div class="col-12 col-md-6 my-auto " >
            <h1 class="d-flex justify-content-center text-white my-3">
                <b>Last Order <br /> Date for Gift <br /> Boxes 20th <br /> December!</b>
            </h1>
            <div class= "my-3 text-center">
                <div class="row {% if user.is_authenticated %} d-flex justify-content-center {% endif %}">
                    {% if not user.is_authenticated %}
                        <div class="col-12 col-md-6 my-2">
                            <a href="{% url 'register' %}"><button class="btn-1 fw-bold">JOIN CLUB</button></a>
                        </div>
                    {% endif %}
                    <div class="col-12 col-md-6 my-2">
                        <a href="{% url 'pages:shop' %}"><button class="btn-1 fw-bold">SHOP</button></a>
                    </div>
                </div>
            </div>
            <div class="text-center text-white fw-bold">
                THE WHISKY CLUB FOR THE <br /> CURIOUS.
            </div>
        </div>
    </div>
</section>

<section id="marquee">
    <marquee>
        <div class="marquee-inner d-flex py-2">
            <span class="ms-2">
                <h4><b>World Whisky</b></h4>
            </span>
            <span class="ms-2">
                <p>   Shipping Date:</p>
            </span>
            <span class="ms-2">
                <h4><b>8-01-22</b></h4>
            </span>
            <span class="ms-5">
                <h4><b>Scotch Whisky</b></h4>
            </span>
            <span class="ms-2">
                <p>   Shipping Date:</p>
            </span>
            <span class="ms-2">
                <h4><b>8-01-22</b></h4>
            </span>
        </div>
    </marquee>
</section>

<section class="my-5">
    <div class="container-fluid">
        <div class="text-center my-3">
            <h1><b>How does it work?</b></h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 py-3 card-1  ">
                <div class="row">
                    <div class="col-12">
                        <img src="{% static 'new_static/assets/imgs/card-1.png' %}" class="img-fluid">
                    </div>
                    <div class="col-12">
                        <h1 class="text-center my-2">Pick a subscription.</h1>
                        <p>
                            Join the Whisky Club for The Curious.<br /> Get a monthly dram of incredible<br /> Single Malt Scotch or World Whisky<br /> – curated from the planet’s best<br /> distilleries – delivered to your <br />door.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 py-3 card-2  ">
                <div class="row">
                    <div class="col-12">
                        <h1 class=" my-2">Welcome to whisky<br /> through your <br />letterbox.</h1>
                        <p>
                            No fuss, no Post Office trips and no<br /> signatures here – each new drop<br /> arrives through your letterbox. Just <br />open, pour and enjoy.
                        </p>
                    </div>
                    <div class="col-12">
                        <img src="{% static 'new_static/assets/imgs/card-2.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 py-3 card-3  ">
                <div class="row">
                    <div class="col-12">
                        <img src="{% static 'new_static/assets/imgs/card-2.png' %}" class="img-fluid">
                    </div>
                    <div class="col-12">
                        <h1 class="text-center my-2">Let’s talk whisky.</h1>
                        <p>
                            Rate your recent drams, join our<br /> monthly online tastings and discover <br />new drops with a snobbery-free<br /> community of fellow adventurers in<br /> the new world of whisky – then buy <br />your favourites from our online<br /> cellar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="home-items container bg-orange py-5">
        <div class="row">
            <div class="col-12 col-md-6 my-auto" >
                <h1><b>Tips, tastings,<br /> whisky know-how <br />and more with<br /> each and every<br /> delivery.</b></h1>
            </div>
            <div id="home-items" class= "col-12 col-md-6">
                <img src="{% static 'new_static/assets/imgs/cup-3.png' %}" class="cup-3 img-fluid">
                <img src="{% static 'new_static/assets/imgs/bottle-1.png' %}" class="bottle-1 img-fluid">
                <img src="{% static 'new_static/assets/imgs/reciept-2.png' %}" class="reciept-2 img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container">
        <div class="owl-carousel carousel-1">
            <div class="item">
                <div class="home-cards p-2">
                    <div class="d-flex justify-content-around">
                        <h1 class="my-auto"> <i class="fas fa-wine-bottle"></i> </h1>
                        <h4>
                            CANCEL <br />ANYTIME
                        </h4>
                    </div>
                    <div>
                        <p class="text-center">
                            Stay for a short time or a<br />long time (but always a good<br /> time.)
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="home-cards p-2">
                    <div class="d-flex justify-content-around">
                        <h1 class="my-auto"> <i class="fas fa-medal"></i> </h1>
                        <h4>
                        Member<br /> Rewards
                        </h1>
                    </div>
                    <div>
                        <p  class="text-center">
                            We’ll treat repeat sippers<br /> to special rewards, as more<br /> people join us. Bottom’s up.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="home-cards p-2">
                    <div class="d-flex justify-content-around">
                        <h1 class="my-auto"> <i class="fas fa-euro-sign"></i> </h1>
                        <h4>
                            The Best Value<br /> for Money
                        </h4>
                    </div>
                    <div>
                        <p  class="text-center">
                            £16 in a bar, £7 at home.<br /> We’re the best value<br /> anywhere online.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="home-cards p-2">
                    <div class="d-flex justify-content-around">
                        <h1 class="my-auto"> <i class="fas fa-recycle"></i> </h1>
                        <h4>
                            Recycling<br /> Programme
                        </h4>
                    </div>
                    <div>
                        <p  class="text-center">
                            Hate waste, love whisky:<br /> send us 12 empty pouches and<br /> we’ll send you a free filled<br /> one.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="container-fluid">
    <h1 class="text-center my-3"><b>Discover great whisky<br /> and great content.</b></h1>
    <div>
        <div class="owl-carousel discover-carousel ">
            <div class="carusal-card1 item border-radius bg-yellow p-3">
                <div class="row d-flex justify-content-center">
                    <img src="{% static 'new_static/assets/imgs/jura.png' %}" class=".carousal-imgs-2">
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">
                    <button class="btn-1 my-2">
                    SCOTCH SUBCRIPTION
                    </button>
                    </a>
                </div>
                <div class="text-center ">
                    <h5 class="my-2">AUGUST'S DROP - JURA 18</h5>
                    <a href="#"><ins class="text-muted">Read More</ins></a>
                </div>
            </div>
            <div class="item border-radius  p-3">
                <div class="row d-flex justify-content-center">
                    <img src="{% static 'new_static/assets/imgs/categories.png' %}" class="carousal-imgs-2">
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'pages:shop' %}">
                        <button class="btn-4 my-2">
                            SHOP
                        </button>
                    </a>
                </div>
                <div class="text-center ">
                    <h5 class="my-2">SHOP FOR WHISKY BY <br /> FLAVOUR</h5>
                    <a href="#"><ins class="text-muted">Read More</ins></a>
                </div>
            </div>
            <div class="item border-radius  p-3">
                <div class="row d-flex justify-content-center">
                    <div class="carusal-img3">
                        <div class="text-center py-5 text-white">
                            <h6 class="my-5 text-center">Whisky Education</h6>
                            <h2 class="my-5">
                                <b>  Scotch Whisky <br />Labelling</b>
                            </h2>
                            <a href="#"><button class="my-5 btn-1">Read More</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item border-radius  p-3">
                <div class="row d-flex justify-content-center">
                    <div class="bar-img">
                        <div class="text-center py-5 text-white">
                            <h6 class="my-5 text-center">Whisky Education</h6>
                            <h2 class="my-5">
                                <b>Learn How to Make <br /> a Mizuwari</b>
                            </h2>
                            <a href="#"><button class="my-5 btn-1">Read More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="" >
    <div id="oban" class="container-fluid bg-orange">
        <div class="container py-3">
            <div class="row">
                <div class="col-12 col-md-6 my-auto">
                    <h1 class="my-2 fw-bold">
                        We're here to <br />change the world<br /> of whisky.
                    </h1>
                    <p class="my-3 fw-bold">
                        Our mission is as simple as that.,<br /> We’re here to get amazing whisky up to <br /> the lips of first-time triers, long<br />-time sippers and curious drinkers<br /> everywhere.
                    </p>
                    <a href="#"><button class="btn-3 fw-bold my-5">ABOUT THE CLUB</button></a>
                </div>
                <div class="col-12 col-md-6">
                    <img src="{% static 'new_static/assets/imgs/oban.jpg' %}" class="img-fluid d-none d-md-block  oban">
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock newMain %}