{% extends 'new_template/base.html' %}
{% block newMain %}


<div class="container d-flex justify-content-center">
    <div class="row">
        <div id="login-form" >
            <form class="col-12 p-2 ">
                
                <div class="row d-flex justify-content-center">
                    <div class="container-login100 text-center pt-5" style="">
                        <h1>Check your inbox or spam.</h1>
                        <p style="color:black;">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                    </div>
                    
                    <br><br><br><br><br><br><br><br>
                </div>
                
            </form>
        </div>
    </div>
</div>


{% endblock newMain %}