{% extends 'new_template/base.html' %}
{% block newMain %}
{% load static %}


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-9">
            <div class="my-2">
                <h1 class="fw-bold text-center my-3">
                    Terms
                </h1>
                <div class="my-1">
                    <p>
                    <h5 class="fw-bold">SECTION 17 - ENTIRE AGREEMENT</h5>
                    <p>
                        The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.
                        These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service).
                        Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.
                    </p>
                    </p> 
                </div>
                <div class="my-1">
                    <p>
                    <h5 class="fw-bold">SECTION 18 - GOVERNING LAW</h5>
                    <p>
                        These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of United Kingdom.
                    </p>
                    </p> 
                </div>
                <div class="my-1">
                    <p>
                    <h5 class="fw-bold">SECTION 19 - CHANGES TO TERMS OF SERVICE</h5>
                    <p>
                        You can review the most current version of the Terms of Service at any time at this page.
                        We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes.
                    </p>
                    </p> 
                </div>
                <div class="my-1">
                    <p>
                    <h5 class="fw-bold">SECTION 20 - CONTACT INFORMATION</h5>
                    <p>
                        Questions about the Terms of Service should be sent to us at hello@whisky-me.com.
                    </p>
                    </p> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock newMain %}