{% load static %}
<header class="header header--1" data-sticky="true">
  <div class="header__top">
    <div class="ps-container">
      <div class="header__left">
        <div class="menu--product-categories">


        </div>
        <a class="ps-logo" href="{% url 'pages:home' %}"><img src="{% static 'img/logo_light.png' %}" alt="" /></a>
      </div>
      <div class="header__center">
        
      </div>
      <div class="header__right">
        <div class="header__actions">

          <div class="ps-cart--mini">
            <a class="header__extra"></a>

          </div>
          <div class="ps-block--user-header">
            {% if user.is_authenticated %}
            <div class="ps-block--user-account"><i class="icon-user"></i>
              <div class="ps-block__content">
                <ul class="ps-list--arrow">

                {% if user.is_superuser %}
                  <li><a href="{% url 'pages:admin_panel'%}">Admin Dashboard</a></li>
                {% else %}
                  <li><a href="{% url 'pages:customer_dashboard' "subscription" %}">Dashboard</a></li>
                {% endif %}

                  <li><a href="{% url 'logout' %}">Logout</a></li>
                
                </ul>
              </div>
            </div>
            {% else %}
            <div class="ps-block__left"><i class="icon-user"></i></div>
            <div class="ps-block__right">
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'register' %}">Register</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {%if not request.user.is_staff %}

   <nav class="navigation">
    <div class="ps-container">
      <div class="navigation__right">
        <ul class="menu">
          <li>
            <a href="{% url 'pages:home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'pages:about' %}">About</a>
          </li>
          <li>
            <a href="{% url 'pages:contact' %}">Contact</a>
          </li>

        </ul>

      </div>
    </div>
  </nav> 
  {% endif %}

</header>
<header class="header header--mobile" data-sticky="true">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#212529; color:yellow;">
  <button style="background-color:#ffc107 !important;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'pages:home' %}" style="color:white;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pages:about' %}" style="color:white;">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pages:contact' %}"style="color:white;">Contact</a>
      </li>
    </ul>
  </div>
</nav>

  <!--    
  <div class="header__top">
    <div class="header__left">
      <p>Welcome to Martfury Online Shopping Store !</p>
    </div>
    <div class="header__right">
      <ul class="navigation__extra">
        <li><a href="#">Sell on Martfury</a></li>
        <li><a href="#">Tract your order</a></li>
        <li>
          <div class="ps-dropdown">
            <a href="#">US Dollar</a>
            <ul class="ps-dropdown-menu">
              <li><a href="#">Us Dollar</a></li>
              <li><a href="#">Euro</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="ps-dropdown language">
            <a href="#"><img src="{% static 'img/flag/en.png' %}" alt="" />English</a>
            <ul class="ps-dropdown-menu">
              <li>
                <a href="#"><img src="{% static 'img/flag/germany.png' %}" alt="" /> Germany</a>
              </li>
              <li>
                <a href="#"><img src="{% static 'img/flag/fr.png' %}" alt="" /> France</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  -->
  
  <div class="navigation--mobile">
    <div class="navigation__left">
      <a class="ps-logo" href="index.html"><img src="{% static 'img/logo_light.png' %}" alt="" /></a>
    </div>
    <div class="navigation__right">
      <div class="header__actions">
        <div class="ps-cart--mini">
          <a class="header__extra"></a>
          <div class="ps-cart__content">
            <div class="ps-cart__items">
              <div class="ps-product--cart-mobile">
                <div class="ps-product__thumbnail">
                  <a href="#"><img src="{% static 'img/products/clothing/7.jpg' %}" alt="" /></a>
                </div>
                <div class="ps-product__content">
                  <a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a
                    href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                  <p><strong>Sold by:</strong> YOUNG SHOP</p>
                  <small>1 x $59.99</small>
                </div>
              </div>
              <div class="ps-product--cart-mobile">
                <div class="ps-product__thumbnail">
                  <a href="#"><img src="{% static 'img/products/clothing/5.jpg' %}" alt="" /></a>
                </div>
                <div class="ps-product__content">
                  <a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a
                    href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                  <p><strong>Sold by:</strong> YOUNG SHOP</p>
                  <small>1 x $59.99</small>
                </div>
              </div>
            </div>
            <div class="ps-cart__footer">
              <h3>Sub Total:<strong>$59.99</strong></h3>
              <figure>
                <a class="ps-btn" href="shopping-cart.html">View Cart</a><a class="ps-btn"
                  href="checkout.html">Checkout</a>
              </figure>
            </div>
          </div>
        </div>
        <div class="ps-block--user-header">
          <div class="ps-block__left">
            {% comment %} <a href="{% url 'loginAndRegister' %}"><i class="icon-user"></i></a> {% endcomment %}
          </div>
          <div class="ps-block__right">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ps-search--mobile">

  </div>
</header>