{% extends 'base.html' %}
{% load static %}
{% block title %}Admin{% endblock title %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/market-place-4.css' %}">

{% endblock head %}
{% block content %}
{% include 'components/_alerts.html' %}
<div class="ps-vendor-dashboard">
    <div class="container">

        <div class="ps-section__content">
            <ul class="ps-section__links">
                <li class=""><a href="{% url 'pages:admin_panel' %}">Dashboard</a></li>
                <li class="active"><a href="{% url 'order:deliver' %}">Delivery</a></li>
                    <br>
                    <br>
                    <ul>
                        <li {% if class_active == "delivered" %} class="active" {% endif %}> <a href="{% url 'order:deliver' "delivered" %}">Delivered</a></li>
                        <li {% if class_active == "undelivered" %} class="active" {% endif %}> <a href="{% url 'order:deliver' "undelivered" %} ">Not-Delivered</a></li>
                    
                    </ul>
            </ul>
            <div class="ps-block--vendor-dashboard">
                <div class="ps-block__header">
                    <h3>Delivery Report</h3>
                </div>
                <div class="ps-block__content">
                    <form class="ps-form--vendor-datetimepicker" action="index.html" method="get">

                    </form>
                    <div class="table-responsive">

                        <table class="table ps-table ps-table--vendor">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Details</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                        {% for r in items %}

                            <tbody>
                                <tr>
                                    <td> {{r.date}}</td>
                                    <td> {{r.name}}</td>
                                    <td> <a href="{% url 'order:address_details' r.pk %}"> view </a> </td>
                                    <td>
                                        <form action="{% url 'order:deliver_done' r.pk %}" method="POST">
                                            {% csrf_token %}
                                            <select name="status" onchange=' this.form.submit(); '>
                                                <option value='undelivered' {% if r.delivery == "undelivered" %} {{"selected"}} {% endif %} >undelivered</option>
                                                <option value='delivered' {% if r.delivery == "delivered" %} {{"selected"}} {% endif %} >delivered</option>
                                            </select>
                                        </form> 
                                    </td>

                                </tr>
                            </tbody>

                        {% endfor %}


                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        function checkdel(){
            return confirm('Are you sure you want to cancel the subscription? \n\nNote:- Once you canceled it cannot be reversed');
        }
    </script>


{% endblock content %}