{% extends 'new_template/base.html' %}
{% block newMain %}

<style>
    .col-4{
        width:28%;
    }
</style>

<div class="container d-flex justify-content-center">
    <div class="row ">
        <div id="login-form" >
            <br>
            <form class="col-12 p-2 " action="" method="post" novalidate>
                {% csrf_token %}
                <h3 class=" fw-bold text-dark my-3 text-center">
                    Enter your email address below, and we'll email instructions for setting a new one.
                </h3>
                
                <div class="row d-flex justify-content-center">
                    {% for form in form %}
                        <div class="col-12 d-flex justify-content-center">
                            <p style="color:red; margin-bottom:0px; margin-top:20px;" class="text-danger">{{form.errors|striptags}} <p>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            {{form}}
                        </div>
                    {% endfor %}

                    <div class="col-12 d-flex justify-content-center">
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color:red" class="pt-3 text-danger">{{message|striptags}} <p>
                                </br>
                            {% endfor %}
                        {% endif %}
                    </div>
                   
                    <br>
                    <a href="" class="text-center col-12"><button type="submit" class="btn-login text-center fw-bold ">Submit</button></a>
                    <br><br><br><br>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock newMain %}